.container{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.sp{
  color: rgb(0, 129, 215);
}
.main{
  
  margin-top: 3px;;
  padding: 10px;
  line-height: 1;
  text-align: center;
  color: aliceblue;
  height: 500px;
  border-radius: 5px;
  width: 300px;
  background-color: rgb(10, 38, 107);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

