.main{
  padding: 5px;
  line-height: 1;
  text-align: center;
  color: aliceblue;
  /* text-transform: uppercase; */
  height: 500px;
  border-radius: 5px;
  width: 300px;
  display: block;
  justify-content: center;
  background-color: rgb(10, 38, 107);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}